
<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test Card</title>
        <link rel="preload" href="/fonts/BrutalType-Bold.ttf" as="font" type="font/ttf" >
        <link rel="preload" href="/fonts/BrutalType.ttf" as="font" type="font/ttf" >
        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/colors-1.css">
        <link rel="stylesheet" href="/css/card-dylan.css">


    </head>
    <body>
       
    </body>

