

article.card-show .show-details dl {
  display: flex;
  flex-wrap: wrap;
}
article.card-show .show-details dt {
  width: 1rem;
  margin-right: 1rem;
}
article.card-show .show-details dd {
  margin-left: auto;
  width: calc(100% - 2rem)
}
.show-buttons{
    display: flex;
}
article.card-show form{
    display: inline-block;
}
article.card-show form button{
    background-color: #B60150;
    color: white;
    padding: 1rem;
    border: 0;
    cursor: pointer;
    height: 100%;
}
article.card-show .button{
    background-color: #00599E;
    color: white;
    padding: 1rem;
    display: inline-block;
    width: fit-content;
}