 .popup {
     overflow: visible;
     position: fixed;
     left: 50%;
     top: 90%;
     transform: translate(-50%, -90%);

     z-index: 999;
     width: 80%;
     min-width: 200px;
     max-width: 400px;

     border: none;
     border-radius: 10px;
     box-shadow: 10px 20px 50px #000;

     transition-behavior: allow-discrete;

 }

 @media (min-width: 800px) {
     .popup {
         left: 95%;
         top: 95%;
         transform: translate(-95%, -95%);

     }
 }

 .info-wrapper {
     display: flex;
     flex-direction: row;
 }


 dd {
     margin: 0;
 }

 @supports not selector([]) {

     /*support voor de selector*/
     [popover] {
         /* standaard openklappen */
         display: block;
     }

     [popover]:popover-open {
         /*als op de knop word gedrukt sluiten*/
         display: none;
     }
 }

 .popup-layout {
     display: flex;
     flex-flow: row wrap;
     justify-content: start;
     gap: 1em;
     padding: 2rem 1rem 0 1rem;
 }

 .popup-status {
     position: absolute;
     top: -0.8em;
     left: 50%;
     transform: translateX(-50%);
     background: #FE0170;
     color: white;
     padding: 0.25em 0.5em;
     border-radius: 5px;
     z-index: 10;
 }

 .popup picture img{
     border-radius: 50%;
     width: 70px;
     height: auto;
 }

 @media (min-width:500px){
    .popup picture img{
     width: 120px;
    }
 }

 .popup-title {
     margin-bottom:1em;
 }

 .popup-buttons {
     margin-top: 1em;
     display: flex;
     width: 100%;
     min-width: 0;
     overflow: hidden;
 }

 .popup-button {
     flex: 1 1 50%;
     min-width: 0;
     height: 2.5em;
     border: none;
     background: #007acc;
     color: white;
     cursor: pointer;

     transition: flex 0.2s ease-in-out, opacity 0.2s linear;
     transition-behavior: allow-discrete;
 }

 .popup-button:first-child {
     border-radius: 0 0 0 5px;
     background-color: #FE0170;
 }

 .popup-buttons:hover .popup-button:not(:hover) {
     flex: 0 1 0;
     pointer-events: none;
     color: #00000000; /* ontzichtbaar maken van de tekst in button voor een soepele overgang */
 }

 .popup-button:hover, .popup-button:focus {
     flex: 1 1 100%;
 }




 /* .popup-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .popup-button:first-child {
            grid-column: 1/1;

        }

        .popup-button:last-child {
            grid-column: 2/2;
        }

        .popup-button:hover {
            grid-column: 1/-1;
        }

        &:has(.popup-button:hover) {
            .popup-button:not(:hover) {
                display: none;
            }
        }
    } */